{% extends 'base.html' %}
{% block style %}
{% for product, range, nSlides in allProds %}
.food-item-wrap.{{product.0.product_category}} > div.{{product.0.product_category}}-type {
    display: block;
  }
{% endfor %}
{% endblock style %}   
{% block body %}
{% load static %}                                       <!-- Section home start -->
    <section id="home" class="fullheight align-items-center bg-img bg-img-fixed" style="background-image: url({% static 'assets/brooke-lark-08bOYnH_r_E-unsplash.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-6 col-xs-12">
                    <div class="slogan">
                        <h1 class="left-to-right play-on-scroll">Freshfood</h1>
                        <p class="left-to-right play-on-scroll delay-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quidem eveniet debitis aspernatur hic ut, delectus eum, neque sit illo, reprehenderit ab est in id modi unde laborum. Voluptas, dolore?</p>
                        
                        <div class="left-to-right play-on-scroll delay-4">
                            <button>Order now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                                            <!-- section home end -->

                                            <!-- About section start -->
    <section id="about" class="fullheight align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-7 h-xs">
                    <img src="{% static 'assets/dan-gold-4_jhDO54BYg-unsplash.jpg' %}" alt="" class="fullwidth left-to-right play-on-scroll">
                </div>
                <div class="col-5 col-xs-12 align-items-center">   
                    <div class="about-slogan right-to-left play-on-scroll">
                        <h3>We create <span class="highlight">delicious</span>  memory for you</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam inventore, mollitia fugit reiciendis ducimus vero maiores, necessitatibus autem expedita voluptatem dicta iste cum officia veritatis atque sunt, quidem cumque laborum!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
                                            <!-- Aboout section end -->

                                            <!-- food menu start -->
    <section class="align-items-center bg-img bg-img-fixed" id="food" style="background-image: url({% static 'assets/katherine-chase-4MMK78S7eyk-unsplash.jpg' %});">
        <div class="container">
            <div class="food-menu">
                <h1>What will you <span class="highlight">eat</span>  today?</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, deserunt nulla nisi corrupti dolorem eveniet molestiae odio quibusdam blanditiis velit omnis. Officia esse commodi odit numquam molestias deserunt minus nesciunt!</p>

                <div class="food-category">
                    <div class="zoom play-on-scroll"><button class="active" data-food-type="all">All food</button></div>
                    {% for product, range, nSlides in allProds %}
                    <div class="zoom play-on-scroll delay-2"> <button data-food-type="{{product.0.product_category}}">{{product.0.product_category}}</button></div>
                    {% endfor %}
                    {% comment %} <div class="zoom play-on-scroll delay-2"> <button data-food-type="salad">Salad</button></div>

                    <div class="zoom play-on-scroll delay-4"> <button data-food-type="lorem">lorem</button></div>

                    <div class="zoom play-on-scroll delay-6"><button data-food-type="ipson">ipson</button></div>

                    <div class="zoom play-on-scroll delay-8"><button data-food-type="dollar">dollar</button></div> {% endcomment %}
 
                </div>
                <div class="food-item-wrap all">
                    {% for product, range, nSlides in allProds %}                                   
                        {% for i in product %}
                        <div class="food-item {{i.product_category}}-type">
                        <div class="item-wrap bottom-up play-on-scroll">
                            <div class="item-img">
                                <div class="img-holder bg-img" style="background-image: url(media/{{i.product_image}});"></div>
                            </div>
                            <div class="item-info">
                                <div>
                                    <h3>{{i.product_name}}</h3>
                                    <span>${{i.product_price}}</span><br>
                                    <a href="/productpage/{{i.product_slug}}">more info</a>

                                </div>
                                <div class="cart-btn"><i class="bx bx-cart-alt"></i></div>
                            </div>
                        </div>
                       
                    </div>
                    {% endfor %} 
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
                                            <!-- food menu end -->

                                            <!-- Testimonial start -->
    <section id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-4    col-xs-12">
                    <div class="review-wrap zoom play-on-scroll delay-2">
                        <div class="review-content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eos sit illum nihil obcaecati? Eum, assumenda nihil corporis, minima nemo reiciendis quam explicabo dolorum, cum repudiandae debitis blanditiis quia ullam.</p>
                            <div class="review-img bg-img" style="background-image: url({% static 'assets/close-up-portrait-cute-young-woman-holding-textbook-colored-pencils-posing-studio-isolated-pink_176532-9674.jpg' %});"></div>
                        </div>
                        <div class="review-info">
                            <h3>Lorem ipsum Dollar</h3>
                            <div class="rating">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4 col-xs-12">
                <div class="zoom play-on-scroll">
                    <div class="review-wrap active">
                        <div class="review-content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eos sit illum nihil obcaecati? Eum, assumenda nihil corporis, minima nemo reiciendis quam explicabo dolorum, cum repudiandae debitis blanditiis quia ullam.</p>
                            <div class="review-img bg-img" style="background-image: url({% static 'assets/portrait-happy-young-man_171337-21716.jpg' %});"></div>
                        </div>
                        <div class="review-info">
                            <h3>Lorem ipsum Dollar</h3>
                            <div class="rating">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                

                <div class="col-4 col-xs-12">
                    <div class="review-wrap zoom play-on-scroll delay-4">
                        <div class="review-content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eos sit illum nihil obcaecati? Eum, assumenda nihil corporis, minima nemo reiciendis quam explicabo dolorum, cum repudiandae debitis blanditiis quia ullam.</p>
                            <div class="review-img bg-img" style="background-image: url({% static 'assets/michael-dam-mEZ3PoFGs_k-unsplash.jpg' %});"></div>
                        </div>
                        <div class="review-info">
                            <h3>Lorem ipsum Dollar</h3>
                            <div class="rating">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>                                        
{% endblock body %}